@import 'tailwindcss' theme(static);

/* bardzo ważne dla Sage/Blade: skanowanie klas */
@source "../views/**/*.blade.php";
@source "../../app/**/*.php";
@source "../js/**/*.{js,ts,jsx,tsx}";

/* Twoje “źródłowe” zmienne RGB */
:root {
	/* base */
	--body: 42 63 80;
	/* #2A3F50 */

	/* PRIMARY */
	--primary: 18 48 113;
	/* #123071 */
	--p-hover: 15 40 94;
	/* #0F285E */

	--p-50: 153 180 238;
	/* #99B4EE */
	--p-100: 126 156 221;
	/* #7E9CDD */
	--p-200: 96 129 201;
	/* #6081C9 */
	--p-300: 69 101 171;
	/* #4565AB */
	--p-400: 41 76 154;
	/* #294C9A */
	--p-500: 18 48 113;
	/* #123071 */
	--p-600: 15 40 94;
	/* #0F285E */
	--p-700: 12 32 75;
	/* #0C204B */
	--p-800: 9 24 57;
	/* #091839 */
	--p-900: 6 16 38;
	/* #061026 */
	--p-dark: 4 10 23;
	/* #040A17 */

	--action: rgb(18, 48, 113);
	/* #123071 */


	/* SECONDARY */
	--secondary: 230 87 150;
	/* #E65796 */
	--s-hover: 192 73 125;
	/* #C0497D */

	--s-50: 251 202 224;
	/* #FBCAE0 */
	--s-100: 248 178 209;
	/* #F8B2D1 */
	--s-200: 248 156 197;
	/* #F89CC5 */
	--s-300: 244 127 179;
	/* #F47FB3 */
	--s-400: 239 103 163;
	/* #EF67A3 */
	--s-500: 230 87 150;
	/* #E65796 */
	--s-600: 192 73 125;
	/* #C0497D */
	--s-700: 153 58 100;
	/* #993A64 */
	--s-800: 115 44 75;
	/* #732C4B */
	--s-900: 77 29 50;
	/* #4D1D32 */
	--s-dark: 46 17 30;
	/* #2E111E */



	/* THIRD */
	--third: 248 129 240;
	/* #F881F0 */
	--t-hover: 207 108 200;
	/* #CF6CC8 */
<<<<<<< Updated upstream

	--t-50: 254 230 252;
	/* #FEE6FC */
	--t-100: 253 213 250;
	/* #FDD5FA */
	--t-200: 252 192 248;
	/* #FCC0F8 */
	--t-300: 250 171 245;
	/* #FAABF5 */
	--t-400: 249 150 243;
	/* #F996F3 */
	--t-500: 248 129 240;
	/* #F881F0 */
	--t-600: 207 108 200;
	/* #CF6CC8 */
	--t-700: 165 86 160;
	/* #A556A0 */
	--t-800: 124 65 120;
	/* #7C4178 */
	--t-900: 83 43 80;
	/* #532B50 */
	--t-dark: 50 26 48;
	/* #321A30 */

	/* neutrals / fixed backgrounds */
	--gray: #2a3f50;
	--bg: #F4F9FF;
	--bg-light: #F7EEE5;
	--bg-lighter: #E9F8F3;
	--bg-blue: #E7F2FF;
	--bg-brand: #002704;
	--bg-dark: #071622;

	--custom-blue: 2 28 85;
	/* #021C55 */
=======

	--t-50: 254 230 252;
	/* #FEE6FC */
	--t-100: 253 213 250;
	/* #FDD5FA */
	--t-200: 252 192 248;
	/* #FCC0F8 */
	--t-300: 250 171 245;
	/* #FAABF5 */
	--t-400: 249 150 243;
	/* #F996F3 */
	--t-500: 248 129 240;
	/* #F881F0 */
	--t-600: 207 108 200;
	/* #CF6CC8 */
	--t-700: 165 86 160;
	/* #A556A0 */
	--t-800: 124 65 120;
	/* #7C4178 */
	--t-900: 83 43 80;
	/* #532B50 */
	--t-dark: 50 26 48;
	/* #321A30 */

	/* neutrals / fixed backgrounds */
	--gray: #2a3f50;
	--bg: #F4F9FF;
	--bg-light: #F7EEE5;
	--bg-lighter: #E9F8F3;
	--bg-brand: #002704;
	--bg-dark: #071622;

>>>>>>> Stashed changes
}

@theme {
	/* base */
	--color-body: rgb(var(--body));

	/* primary */
	--color-primary: rgb(var(--primary));
	--color-primary-hover: rgb(var(--p-hover));
	--color-primary-50: rgb(var(--p-50));
	--color-primary-100: rgb(var(--p-100));
	--color-primary-200: rgb(var(--p-200));
	--color-primary-300: rgb(var(--p-300));
	--color-primary-400: rgb(var(--p-400));
	--color-primary-500: rgb(var(--p-500));
	--color-primary-600: rgb(var(--p-600));
	--color-primary-700: rgb(var(--p-700));
	--color-primary-800: rgb(var(--p-800));
	--color-primary-900: rgb(var(--p-900));
	--color-primary-dark: rgb(var(--p-dark));

	/* secondary */
	--color-secondary: rgb(var(--secondary));
	--color-secondary-hover: rgb(var(--s-hover));
	--color-secondary-100: rgb(var(--s-100));
	--color-secondary-200: rgb(var(--s-200));
	--color-secondary-300: rgb(var(--s-300));
	--color-secondary-400: rgb(var(--s-400));
	--color-secondary-500: rgb(var(--s-500));
	--color-secondary-600: rgb(var(--s-600));
	--color-secondary-700: rgb(var(--s-700));
	--color-secondary-800: rgb(var(--s-800));
	--color-secondary-900: rgb(var(--s-900));
	--color-secondary-dark: rgb(var(--s-dark));

	/* third */
	--color-third: rgb(var(--third));
	--color-third-hover: rgb(var(--t-hover));
	--color-third-100: rgb(var(--t-100));
	--color-third-200: rgb(var(--t-200));
	--color-third-300: rgb(var(--t-300));
	--color-third-400: rgb(var(--t-400));
	--color-third-500: rgb(var(--t-500));
	--color-third-600: rgb(var(--t-600));
	--color-third-700: rgb(var(--t-700));
	--color-third-800: rgb(var(--t-800));
	--color-third-900: rgb(var(--t-900));
	--color-third-dark: rgb(var(--t-dark));

	--color-gray: var(--gray);
	--color-action: var(--action);

	--color-page: var(--bg);
	--color-background-light: var(--bg-light);
	--color-background-brand: var(--bg-brand);
	--color-background-dark: var(--bg-dark);

	--color-primary-light: var(--color-primary-300);
	--color-primary-lighter: var(--color-primary-100);

	--color-secondary-light: var(--color-secondary-300);
	--color-secondary-lighter: var(--color-secondary-100);
<<<<<<< Updated upstream
	--color-custom-blue: rgb(var(--custom-blue));


=======

>>>>>>> Stashed changes
	--color-muted: var(--color-secondary-500);
	--gradient: linear-gradient(90deg, #132A23 0%, #0D3F2F 100%);
	--gradient-light: linear-gradient(-90deg, #0E3A2D 0%, #0A533D 100%);
	--gradient-s: linear-gradient(-90deg, #DE855D 0%, #D37A51 100%);
	--gradient-lighter: linear-gradient(90deg, #00579B 5%, #E65796 93%);
	--gradient-main: linear-gradient(90deg, #061026 0%, #123071 100%);
	--gradient-p: linear-gradient(90deg, #123071 5%, #E65796 93%);

}

@import '../css/variables.scss';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'baguettebox.js/dist/baguetteBox.min.css';

/*-- USED ---*/
@import '../css/blocks/hero.scss';
@import '../css/blocks/category.scss';
@import '../css/blocks/partners.scss';
<<<<<<< Updated upstream
@import '../css/blocks/duotitle-block.scss';
@import '../css/blocks/offer.scss';
@import '../css/blocks/contact-block.scss';
@import '../css/blocks/top.scss';
@import '../css/blocks/intro.scss';
@import '../css/blocks/overview.scss';
@import '../css/blocks/team.scss';
@import '../css/blocks/community.scss';
=======
@import '../css/blocks/duotitle.scss';

/*-- NOT USED ---*/
@import '../css/blocks/accordion.scss';
@import '../css/blocks/cards.scss';
@import '../css/blocks/category-posts.scss';
>>>>>>> Stashed changes
@import '../css/blocks/contact.scss';
@import '../css/blocks/map.scss';
@import '../css/blocks/header.scss';
@import '../css/blocks/tabs.scss';
@import '../css/blocks/reviews.scss';
@import '../css/blocks/slider.scss';
@import '../css/blocks/cards.scss';
@import '../css/blocks/content.scss';
@import '../css/blocks/faq.scss';
@import '../css/blocks/banner.scss';
@import '../css/blocks/logos.scss';
@import '../css/blocks/teaser.scss';
@import '../css/blocks/voices.scss';

/*-- NOT USED ---*/
@import '../css/blocks/accordion.scss';
@import '../css/blocks/category-posts.scss'; 
@import '../css/blocks/cta.scss';
@import '../css/blocks/image.scss';
@import '../css/blocks/numbers.scss';
@import '../css/blocks/overlap.scss';
@import '../css/blocks/proces.scss';
<<<<<<< Updated upstream
=======
@import '../css/blocks/reviews.scss';
@import '../css/blocks/slider.scss';
@import '../css/blocks/tabs.scss';
>>>>>>> Stashed changes
@import '../css/blocks/wysiwyg.scss';