@import 'tailwindcss' theme(static);

/* bardzo ważne dla Sage/Blade: skanowanie klas */
@source "../views/**/*.blade.php";
@source "../../app/**/*.php";
@source "../js/**/*.{js,ts,jsx,tsx}";

/* Twoje “źródłowe” zmienne RGB */
:root {
  /* base */
  --body: 42 63 80; /* #2A3F50 */

/* PRIMARY (lewa kolumna – granat) */
--primary: 0 87 155; /* #00579B */
--p-hover: 4 6 45; /* #04062D */

/* PRIMARY (niebieski) */
--p-50: 176 214 243;  /* #B0D6F3 */
--p-100: 138 190 230; /* #8ABEE6 */
--p-200: 94 157 207;  /* #5E9DCF */
--p-300: 57 135 195;  /* #3987C3 */
--p-400: 23 107 172;  /* #176BAC */
--p-500: 0 87 155;    /* #00579B */
--p-600: 0 73 129;    /* #004981 */
--p-700: 0 58 103;    /* #003A67 */
--p-800: 0 44 78;     /* #002C4E */
--p-900: 0 29 52;     /* #001D34 */
--p-dark: 0 17 31;    /* #00111F */

--action: rgb(0, 87, 155);


/* SECONDARY (turkusowy) */
--secondary: 0 192 197; /* #00C0C5 */
--s-hover: 0 160 164;   /* #00A0A4 */

--s-50: 171 244 246;  /* #ABF4F6 */
--s-100: 137 238 241; /* #89EEF1 */
--s-200: 99 224 228;  /* #63E0E4 */
--s-300: 59 222 226;  /* #3BDEE2 */
--s-400: 22 211 216;  /* #16D3D8 */
--s-500: 0 192 197;   /* #00C0C5 */
--s-600: 0 160 164;   /* #00A0A4 */
--s-700: 0 128 131;   /* #008083 */
--s-800: 0 96 99;     /* #006063 */
--s-900: 0 64 66;     /* #004042 */
--s-dark: 0 38 39;    /* #002627 */


/* THIRD (różowy/fioletowy) */
--third: 248 129 240; /* #F881F0 */
--t-hover: 207 108 200; /* #CF6CC8 */

--t-50: 254 230 252;  /* #FEE6FC */
--t-100: 253 213 250; /* #FDD5FA */
--t-200: 252 192 248; /* #FCC0F8 */
--t-300: 250 171 245; /* #FAABF5 */
--t-400: 249 150 243; /* #F996F3 */
--t-500: 248 129 240; /* #F881F0 */
--t-600: 207 108 200; /* #CF6CC8 */
--t-700: 165 86 160;  /* #A556A0 */
--t-800: 124 65 120;  /* #7C4178 */
--t-900: 83 43 80;    /* #532B50 */
--t-dark: 50 26 48;   /* #321A30 */

  /* neutrals / fixed backgrounds */
  --gray: #2a3f50;
  --bg: #F4F9FF;
  --bg-light: #F7EEE5;
  --bg-lighter: #E9F8F3;
  --bg-brand: #002704;
  --bg-dark: #071622;
}

@theme {
  /* base */
  --color-body: rgb(var(--body));

  /* primary */
  --color-primary: rgb(var(--primary));
  --color-primary-hover: rgb(var(--p-hover));
  --color-primary-50: rgb(var(--p-50));
  --color-primary-100: rgb(var(--p-100));
  --color-primary-200: rgb(var(--p-200));
  --color-primary-300: rgb(var(--p-300));
  --color-primary-400: rgb(var(--p-400));
  --color-primary-500: rgb(var(--p-500));
  --color-primary-600: rgb(var(--p-600));
  --color-primary-700: rgb(var(--p-700));
  --color-primary-800: rgb(var(--p-800));
  --color-primary-900: rgb(var(--p-900));
  --color-primary-dark: rgb(var(--p-dark));

  /* secondary */
  --color-secondary: rgb(var(--secondary));
  --color-secondary-hover: rgb(var(--s-hover));
  --color-secondary-100: rgb(var(--s-100));
  --color-secondary-200: rgb(var(--s-200));
  --color-secondary-300: rgb(var(--s-300));
  --color-secondary-400: rgb(var(--s-400));
  --color-secondary-500: rgb(var(--s-500));
  --color-secondary-600: rgb(var(--s-600));
  --color-secondary-700: rgb(var(--s-700));
  --color-secondary-800: rgb(var(--s-800));
  --color-secondary-900: rgb(var(--s-900));
  --color-secondary-dark: rgb(var(--s-dark));

  /* third */
  --color-third: rgb(var(--third));
  --color-third-hover: rgb(var(--t-hover));
  --color-third-100: rgb(var(--t-100));
  --color-third-200: rgb(var(--t-200));
  --color-third-300: rgb(var(--t-300));
  --color-third-400: rgb(var(--t-400));
  --color-third-500: rgb(var(--t-500));
  --color-third-600: rgb(var(--t-600));
  --color-third-700: rgb(var(--t-700));
  --color-third-800: rgb(var(--t-800));
  --color-third-900: rgb(var(--t-900));
  --color-third-dark: rgb(var(--t-dark));

  --color-gray: var(--gray);
  --color-action: var(--action);

  --color-page: var(--bg);
  --color-background-light: var(--bg-light);
  --color-background-brand: var(--bg-brand);
  --color-background-dark: var(--bg-dark);

  --color-primary-light: var(--color-primary-300);
  --color-primary-lighter: var(--color-primary-100);

  --color-secondary-light: var(--color-secondary-300);
  --color-secondary-lighter: var(--color-secondary-100);

  --color-muted: var(--color-secondary-500);
  --gradient: linear-gradient(90deg, #132A23 0%, #0D3F2F 100%);
  --gradient-light: linear-gradient(-90deg, #0E3A2D 0%, #0A533D 100%);
  --gradient-s: linear-gradient(-90deg, #DE855D 0%, #D37A51 100%);

}

@import '../css/variables.scss';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'baguettebox.js/dist/baguetteBox.min.css';

/*-- USED ---*/
@import '../css/blocks/hero.scss';
/*-- NOT USED ---*/
@import '../css/blocks/accordion.scss';
@import '../css/blocks/cards.scss';
@import '../css/blocks/category-posts.scss';
@import '../css/blocks/contact.scss';
@import '../css/blocks/content.scss';
@import '../css/blocks/cta.scss';
@import '../css/blocks/faq.scss';
@import '../css/blocks/banner.scss';
@import '../css/blocks/image.scss';
@import '../css/blocks/logos.scss';
@import '../css/blocks/numbers.scss';
@import '../css/blocks/overlap.scss';
@import '../css/blocks/proces.scss';
@import '../css/blocks/reviews.scss';
@import '../css/blocks/slider.scss';
@import '../css/blocks/tabs.scss';
@import '../css/blocks/wysiwyg.scss';
