/*!

--- GLOBALS ---

! GLOBAL
! OVERAL
! CONTAINERS
! TYPOGRAPHY 
! COLORS
! BORDER & SHADOW
! GSAP & ! ANIMATIONS
! SIZES
! POSITION
! PADDINGS & MARGINS + FONT SIZE & GAP (MULTIPLIER)
! FLEX
! GRID
! BUTTONS
! MENU & DROPDOWN
! BREADCRUMBS
! GO TOP BUTTON
! BLOCKS
! OTHERS GLOBALS

--- SUBPAGES ---

! HOMEPAGE
! CONTACT
! 404

! FOOTER

--- ECOMMERCE --- 

! ECOMMERCE
! SHOP PAGE
! SINGLE PRODUCT
! CART
! CHECKOUT
! THANK YOU
! MINI CART

--- RWD

! RESPONSIVE
! XXL
! XL
! L
! M
! S
! XS

! MOBILE MENU

*/

/*--- !GLOBAL ---*/

.grecaptcha-badge {
	display: none !important;
}

::selection {
	background: var(--color-primary-400);
	color: #fff;
}

/* 
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 2px;
}
::-webkit-scrollbar-track {
    background: #fff;
    width: 6px;
} */

html {
	scroll-behavior: smooth;
}

html,
body {
	overflow-x: clip;
	background-color: var(--bg);
	color: rgb(var(--p-900));
}

/*--- !ROOT ---*/

:root {
	--header: "neue-haas-grotesk-display", sans-serif;
	--txt: "neue-haas-grotesk-display", sans-serif;
	--btns-font: "neue-haas-grotesk-display", sans-serif;



	--smt: 104px;
	--spt: 104px;
	--smb: 104px;
	--spb: 104px;
	--menu-height: 86px !important;

	--img-xs: 176px;
	--img-s: 200px;
	--img-m: 240px;
	--img-md: 360px;
	--img-l: 424px;
	--img-xl: 496px;
	--img-2xl: 560px;
	--img-3xl: 664px;

	--section-gap: 46px;
	--m-title: 16px;
	--m-header: 24px;
	--m-btn: 32px;
	--m-img: 40px;
	--radius: 24px;

	--btns-fontsize: 16px;
	--btns-radius: 104px;
	--btns-padding: 16px 40px;

	--footer-py: 144px 0;
}

/*--- !CONTAINERS ---*/

.c-narrow {
	max-width: 1176px !important;
	margin: 0 auto;
	padding-left: 24px !important;
	padding-right: 24px !important;
	width: 100%;
}

.c-main {
	max-width: 1424px !important;
	margin: 0 auto;
	padding-left: 24px !important;
	padding-right: 24px !important;
	width: 100%;
}

.c-wide,
.wide .c-main {
	max-width: 100% !important;
	margin: 0 24px;
	padding-left: 24px !important;
	padding-right: 24px !important;
	width: calc(100% - 48px);
}

@media only screen and (max-width: 768px) {

	.c-narrow,
	.c-main,
	.woocommerce-notices-wrapper,
	.c-wide,
	.wide .c-main {
		max-width: 100% !important;
		margin: 0 0px;
		width: 100%;
	}

	.c-wide .c-main {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

/*--- !OVERALL ---*/

.-menu-mt {
	margin-top: var(--menu-height);
}

.-menu-pt {
	padding-top: var(--menu-height);
}

.-smt {
	margin-top: var(--smt) !important;
}

.-spt {
	padding-top: var(--spt) !important;
}

.-smb {
	margin-bottom: var(--smb) !important;
}

.-spb {
	padding-bottom: var(--spb) !important;
}

.img-xs,
.img-xs img {
	height: var(--img-xs);
}

.img-s,
.img-s img {
	height: var(--img-s);
}

.img-m,
.img-m img {
	height: var(--img-m);
}

.img-md,
.img-md img {
	height: var(--img-md);
}

.img-l {
	height: var(--img-l);
}

.img-xl,
.img-xl img {
	height: var(--img-xl);
}

.img-2xl,
.img-2xl img {
	height: var(--img-2xl);
}

.img-3xl,
.img-3xl img {
	height: var(--img-3xl);
}

.section-py {
	padding: var(--smt) 0;
}

.section-gap {
	gap: var(--section-gap);
}

.section-light {
	background: var(--bg-light);
	padding: 120px 0;
}

.section-blue {
	background: var(--bg-blue);
	padding: 120px 0;
}

.section-white {
	background-color: #fff;
	padding: var(--smt) 0;
}

.section-s-light {
	background-color: var(--bg-s-light);
	padding: var(--smt) 0;

	.text-light {
		color: var(--s-400) !important;
	}
}

.section-brand {
	background: var(--color-background-brand);
	padding: var(--smt) 0;

	h1,
	.text-h1,
	h2,
	.text-h2,
	h3,
	.text-h3,
	h4,
	.text-h4,
	h5,
	.text-h5,
	h6,
	.text-h6,
	p,
	b,
	strong,
	i,
	ul,
	ul li,
	a {
		color: #fff;
	}
}

.section-primary {
	background: var(--color-primary);
	padding: var(--smt) 0;

	h1,
	.text-h1,
	h2,
	.text-h2,
	h3,
	.text-h3,
	h4,
	.text-h4,
	h5,
	.text-h5,
	h6,
	.text-h6,
	p,
	b,
	strong,
	i,
	ul,
	ul li,
	a {
		color: #fff !important;
	}
}

.section-gradient {
	background: var(--gradient);
	padding: var(--smt) 0;

	h1,
	.text-h1,
	h2,
	.text-h2,
	h3,
	.text-h3,
	h4,
	.text-h4,
	h5,
	.text-h5,
	h6,
	.text-h6,
	p,
	b,
	strong,
	i,
	ul,
	ul li,
	a,
	.accordion-label,
	.__txt {
		color: #fff;
	}

	.btn-primary {
		background: var(--color-secondary);
	}

	.btn-primary:hover {
		background: var(--color-secondary-hover);
	}
}

.section-dark {
	background: var(--color-secondary);
	padding: var(--smt) 0;

	h1,
	.text-h1,
	h2,
	.text-h2,
	h3,
	.text-h3,
	h4,
	.text-h4,
	h5,
	.text-h5,
	h6,
	.text-h6,
	p,
	b,
	strong,
	i,
	ul,
	ul li,
	a,
	.accordion-label {
		color: #fff;
	}

	a:hover {
		color: var(--color-primary-300);
	}
}

.m-title {
	padding-bottom: var(--m-title) !important;
}

.m-header {
	margin-bottom: var(--m-header) !important;
}

.m-btn {
	margin-top: var(--m-btn);
}

.m-img {
	margin-bottom: var(--m-img);
}

.__back {
	pointer-events: none !important;
}

.order-flip {
	display: flex;

	.order1:nth-child(1) {
		order: 2;
	}

	.order2:nth-child(2) {
		order: 1;
	}
}

/*--- !TYPOGRAPHY ---*/

p,
ul,
li,
span,
i,
em,
div,
.__txt {
	font-family: var(--txt);
	font-weight: 300;
	letter-spacing: 0.18px;
}

p {
	font-size: 18px;
}

ul,
li {
	color: var(--body);
}

b,
strong {
	font-weight: 500;
	color: var(--body);
}

.font-header {
	font-family: var(--header) !important;
}

.font-body {
	font-family: var(--body);
}

p:last-of-type {
	margin-bottom: 0 !important;
}

a {
	color: #fff;
	text-decoration: none !important;
	transition: all 0.2s ease-out;
}

/*--- !HEADERS ---*/

h1,
.text-h1,
h2,
.text-h2,

h4,
.text-h4,
h5,
.text-h5,
h6,
.text-h6,
h7,
.text-h7 {
	font-family: var(--header);
	font-weight: 600;
}

h3,
.text-h3 {
	font-weight: 500;
}

.text-gradient {
	background-image: linear-gradient(90deg, #025391 0%, #3FB9C1 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	display: inline-block;
}

.text-big {
	font-size: 90px;
	font-weight: 600;
}

h1,
.text-h1 {
	font-size: 60px !important;
	line-height: 1.1;
}

h2,
.text-h2 {
	font-size: 54px !important;
	line-height: 3.7rem;
	color: var(--color-primary-900) !important;

}

h3,
.text-h3 {
	font-size: 48px !important;
	line-height: 3.3rem;
}

h4,
.text-h4 {
	font-size: 36px !important;
	line-height: 2.4rem;
}

h5,
.text-h5 {
	font-size: 30px !important;
	line-height: 2.5rem;
}

h6,
.text-h6 {
	font-size: 24px !important;
	line-height: 1.6rem;
}

.h7,
.text-h7 {
	font-size: 20px !important;
	line-height: 1.6rem;
}

.text-underline {
	text-decoration: underline;
}

/*--- !COLORS ---*/

.text-action {
	color: var(--color-action) !important;
}

.bg-background {
	background: var(--color-primary-900) !important;
}

.bg-gradient {
	background: var(--gradient) !important;
}

.bg-gradient-light {
	background: var(--gradient-light) !important;
}

.bg-light {
	background: var(--bg-light) !important;
}

.bg-lighter {
	background: var(--gradient-lighter) !important;
	background-clip: text !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}

.bg-gradient-main {
	background: var(--gradient-main) !important;
}

.bg-gradient-p {
	background: var(--gradient-p) !important;

}

/*--- !BORDER & SHADOW ---*/

.radius {
	border-radius: var(--radius) !important;
}

.radius-left {
	border-top-left-radius: var(--radius) !important;
	border-bottom-left-radius: var(--radius) !important;
}

.radius-img {
	border-radius: var(--radius) !important;
}

.b-shadow {
	box-shadow: 0px 16px 24px 0px rgb(20, 45, 74, 0.15);
}

.b-shadow:hover {
	transform: translateY(-3px);
	box-shadow: 0px 8px 16px 0px rgba(20, 45, 74, 0.35);
}

/*--- !BUTTONS ---*/

.btn {
	font-family: var(--btns-font);
	font-size: var(--btns-fontsize);
	font-weight: 600;
	color: #fff;
	background: transparent;
	border: 1px solid transparent;
	border-radius: var(--btns-radius);
	display: inline-block;
	padding: var(--btns-padding);
	width: max-content;
	height: max-content;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.btn-primary {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	color: #fff;
}

.btn-primary:hover {
	background-color: var(--color-primary-hover);
	border-color: var(--color-primary-hover);
	color: #fff;
}

.btn-secondary {
	background-color: var(--color-secondary);
	border-color: var(--color-secondary);
	color: #fff;
}

.btn-secondary:hover {
	background-color: var(--color-secondary-hover);
	border-color: var(--color-secondary-hover);
	color: #fff;
}

.btn-white {
	background-color: #FFF;
	border-color: #FFF;
	color: var(--color-primary);
}

.btn-white:hover {
	background-color: var(--color-primary-hover);
	border-color: var(--color-primary-hover);
	color: #fff;
}

.btn-underline {
	background: transparent;
	border: 0;
	border-bottom: 1px solid var(--color-action);
	color: var(--color-action);
	padding: 0;
	border-radius: 0;
}

.btn-underline::after {
	content: url('/wp-content/uploads/2026/01/arrow.svg');
	height: 12px;
	width: 12px;
	margin-left: 8px;
	transition: all 0.2s ease-out;
}

.btn-underline:hover {
	border-color: var(--color-primary-hover);
	color: #fff;
}

.btn-underline:hover::after {
	transition: all 0.2s ease-out;
	margin-left: 12px;
}

.btn-outline-primary {
	background-color: transparent;
	border-color: var(--color-primary);
	color: var(--color-primary);
}

.btn-outline-primary:hover {
	background-color: var(--color-primary);
	color: #fff;
}

.btn-outline-secondary {
	background-color: transparent;
	border-color: var(--color-secondary);
	color: var(--color-secondary);
}

.btn-outline-secondary:hover {
	background-color: var(--color-secondary-hover);
	color: #fff;
}

.btn-primary-small {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
	padding: 8px 24px;
}

.btn-primary-small:hover {
	background-color: var(--color-primary-hover);
	border-color: var(--color-primary-hover);
	color: #fff;
}


.btn-secondary-small {
	background-color: var(--color-secondary);
	border-color: var(--color-secondary);
	padding: 8px 24px;
}

.btn-secondary-small:hover {
	background-color: var(--color-secondary-hover);
	border-color: var(--color-secondary-hover);
	color: #fff;
}

.pointer {
	cursor: pointer;
}

/*--- INLINE BUTTONS ---*/

.inline-buttons {
	display: flex;
	gap: 16px;
}

/*--- !MENU  ---*/

.fixed-top {
	height: var(--menu-height);
	position: fixed;
	left: 0;
	right: 0;
	width: auto;
	max-width: 100%;
	z-index: 49;
	transition: all 0.3s;
	transition-delay: 0s;
}
header{
._socials{
	svg{
		width: 24px;
		height: 24px;
	}
}
} 
#menu-menu {
	height: var(--menu-height);
}

#menu-menu>li {
	height: 100%;
}

#menu-menu>li>a {
	height: 100%;
	display: flex;
	align-items: center;
	color: #fff !important;
	font-size: 18px !important;
	white-space: nowrap;
}

.fixed-top.scrollUp {
	transform: translateY(-112px);
	transition: all 0.3s !important;
}

.fixed-top.scrollDown {

	box-shadow: 0 3px 5px rgba(27, 106, 23, 0.2) !important;
}

.fixed-top.scrollDown .nav-link {
	color: #fff;
}

.mobile-menu {
	z-index: 99999;
}

#mobile-menu-panel {
	li a {
		color: #fff;
		font-size: 20px;
		font-weight: 300;
	}

	li a:hover {
		color: var(--color-primary-200);
	}
}

/*--- DROPDOWN ---*/

/*--- !BREADCRUMB ---*/

.home #breadcrumbs {
	display: none !important;
}

.woocommerce-breadcrumb,
#breadcrumbs {
	text-align: left;
	color: var(--color-primary-500);
	font-size: 14px;
	display: flex;
	row-gap: 8px;
	justify-content: start;
	gap: 8px;

	a {
		color: #FFF;
	}

	a:hover {
		color: var(--color-primary-400);
	}

	.__separator {
		color: var(--color-action);
	}
}



/*--- !BLOCKS ---*/

/*--- !FORM ---*/

.form {
	label {
		color: #fff;
		margin-top: 24px;
		display: block;
	}

	.wpcf7 form .wpcf7-response-output {
		color: #fff;
		width: max-content;
	}
}

/*--- !THREE COLUMNS ---*/

.three-columns {
	.__rectangle {
		content: '';
		height: 32px;
		width: 8px;
		top: 0;
		background-color: var(--secondary);
	}
}

/*--- !INPUT CONTACT ---*/

input[type='text'],
input[type='tel'],
input[type='email'],
select,
textarea {
	width: 100%;
	border: none;
	border: 2px solid var(--color-primary-100);
	padding: 12px 16px;
	transition: all 0.2s ease-out;
	border-radius: 8px;
	font-size: 16px;
	margin-bottom: 16px;
}

input::placeholder,
textarea::placeholder {
	color: #8f8f8f;
	opacity: 1;
}

input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
textarea:focus {
	width: 100%;

	outline: none;
	transition: all 0.2s ease-out;
}

.form-group label {
	display: block;
	margin-bottom: 8px;
}

textarea {
	height: 120px;
}

input[type='submit'] {
	font-size: 16px;
	background: var(--color-secondary);
	color: #fff;
	padding: var(--btns-padding);
	display: inline-block;
	transition: all 0.2s ease-out;
	border-radius: var(--btns-radius);
	font-weight: 600;
	border: 1px solid transparent;
	text-decoration: none;
	white-space: nowrap;
	width: unset !important;
	margin-top: 24px;
	cursor: pointer;
}

input[type='submit']:hover {
	color: #fff;
	background: var(--color-primary-hover);
	transition: all 0.2s ease-out;
	border: 1px solid transparent;
}

input[type='checkbox'] {
	margin-right: 8px;
	width: 24px;
	height: 24px;
	flex-direction: column;
	justify-content: center;
	border-radius: 24px;
	flex-shrink: 0;
	margin-left: 0 !important;
}

.form-consent .wpcf7-list-item label {
	display: flex !important;
	align-items: center !important;
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 0 !important;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
	color: var(--color-gray-500);
	background-color: var(--color-gray-400);
}

.acceptance label {
	display: flex;
}

.acceptance input {
	width: 16px;
	height: 16px;
	top: 2px;
	position: relative;
}

.acceptance .wpcf7-list-item-label {
	color: var(--text-s-white);
	font-size: 16px;
	font-weight: 500 !important;
	margin-left: 0 !important;
}

.form-consent {
	display: flex;
	align-items: center;
}

.acceptance .wpcf7-list-item {
	margin-left: 0 !important;

	a {
		color: #fff;
		opacity: 0.6;
	}

	a:hover {
		color: #fff;
		opacity: 0.3;
	}
}

.wpcf7-not-valid-tip {
	color: #dc3232;
	font-size: 13px;
	font-weight: normal;
	display: block;
	/* bottom: 0; */
	/* position: absolute; */
	background: #fff;
	margin-top: -13px;
	z-index: 9;
	position: relative;
	width: max-content;
	padding: 2px 8px;
	border-radius: 10px;
}

.wpcf7 form .wpcf7-response-output {
	border: none;
	margin: 0;
	padding: 0;
	margin-top: 24px;
	border-bottom: 1px solid var(--color-primary) !important;
}

/*--- !BLOG ---*/

.post-template-default.single.single-post {
	.woocommerce-breadcrumb {
		text-align: center;
		justify-content: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media only screen and (max-width: 768px) {
	.post-template-default.single.single-post {
		.woocommerce-breadcrumb {
			justify-content: flex-start;
			text-align: left;
		}
	}
}
.hero-blog{
	.left_shape {
		width: 1000px;
		left: -740px;
		top: -180px;
		@media(max-width: 768px){
			width: 600px;
			left: -440px;
			top: -80px;
		}
	}

	.right_shape {
		width: 1000px;
		right: -670px;
		bottom: -450px;
		mix-blend-mode: overlay;
		@media(max-width: 768px){
		width: 600px;
		right: -470px;
		bottom: -250px;
		}
	}
	.blur{
		width: 915px;
height: 915px;
left: 142px;
bottom: -427px;
border-radius: 915px;
filter: blur(125px);
	}
}


.blog-btn {
	padding: 18px 16px;
	transition: all 0.3s;
		color: #4F606D;
}

.category-tabs {
	.__tab {
		transition: all 0.3s;
		
	}

	.__tab:hover {
		transition: all 0.3s;
		background-color: var(--color-primary-light);
	}

	.active {
		background-color: var(--color-primary-500);
		
	}
}

.__posts {
	.__card {
		.__content {
			transition: all 0.3s ease;
		}
	}

	.__card:hover {
		.__content {
			border-color: var(--primary-900) !important;
			transition: all 0.3s ease;
		}
	}
}

article.post img {
	width: 100%;
	display: block;
	transition: all 0.3s ease-in-out;
}

article.post:hover {
	.underline-btn {
		transition: all 0.2s ease-out;
		color: var(--p-500);
		border-bottom: 1px solid var(--color-primary);
	}

	.underline-btn::after {
		transition: all 0.2s ease-out;
		margin-left: 12px;
	}

	img {
		filter: grayscale(40%);
		filter: brightness(110%)
	}
}

.toc ul {
	margin-left: 0;
	padding-left: 0 !important;
	
}
.toc ul {
    margin-left: 0;
    padding-left: 0 !important;
    counter-reset: toc-counter;
}

.toc ul li {
    display: flex;
    align-items: flex-start;
    border-left: 1px solid #7FCBF8;
    padding-left: 14px;
    margin-bottom: 16px;
    list-style: none;
    counter-increment: toc-counter;
}
.toc ul li::before {
    content: counter(toc-counter) ".";
    flex-shrink: 0;
    min-width: 24px;
}

.toc ul li {
	border-left: 1px solid #8ABEE6;
	padding-left: 16px;
	margin-bottom: 16px;
	list-style: none;
	color: var(--color-primary);
}
.toc ul li a{
	color:#4F606D!important;

}

.toc ul li.active {
	border-left-color: var(--color-action);
}

/*--- !SINGLE - BLOG ---*/

.single-post {

	.wysiwyg,
	.cta {
		width: 75%;
		margin: 0 auto;
	}

	.wysiwyg {
		h3:first-child {
			font-size: 30px !important;
			margin-top: 0px;
			margin-bottom: 8px;
		}
	}

	.__content {
		p {
			display: block;
			margin-top: 16px;
		}

		ol {
			list-style: auto;
			padding-left: 24px;
			line-height: 2rem;
		}
	}

	.__entry {

		h2,
		h2 span {
			font-family: var(--header);
			color: var(--color-primary);
			font-size: 36px !important;
			line-height: 1.3em;
			margin-top: 24px;
			margin-bottom: 8px;
		}

		h2:first-child {
			font-family: var(--header);
			font-size: 36px !important;
			line-height: 1.3em;
			margin-top: 0;
			margin-bottom: 0;
		}

		h3,
		h3 span {
			font-family: var(--header);
			color: var(--color-primary);
			font-size: 36px !important;
			line-height: 1.3em;
			margin-top: 24px;
			margin-bottom: 8px;
		}

		h4,
		h4 span {
			font-family: var(--header);
			color: var(--color-primary);
			font-size: 30px !important;
			line-height: 1.3em;
			margin-top: 24px;
			margin-bottom: 8px;
		}

		ul {
			list-style-type: disc;
			padding-left: 24px;
			margin-top: 8px;
		}

		.image {
			margin-top: 56px !important;
			margin-bottom: 56px;
		}

		.image .c-main {
			padding: 0 !important;
		}
	}
}

/*--- !FOOTER ---*/

.footer-py {
	padding: var(--footer-py);
}

.footer {
	background: linear-gradient(90deg, #061026 0%, #123071 100%);

	.blur {
		border-radius: 915px;
		mix-blend-mode: overlay;
		filter: blur(125px);
		width: 915px;
		height: 915px;
		left: 297px;
		top: -625px;
	}


	.text-2.widget_text {
		margin-bottom: 40px;
	}



	.footer-widget {
		p {
			color: #fff;
		}

		a {
			color: rgba(255, 255, 255);
			transition: all 0.3s;
			font-size: 14px !important;
			font-weight: 500 !important;
		}

		a:hover {
			color: rgba(255, 255, 255, 1);
			transition: all 0.3s;
		}

		ul.sub-menu {
			display: none;
		}




	}

	.footer_widget {
		.menu {
			line-height: 2.5rem;
		}
	}
}

.secondary_box {
	svg {
		fill: var(--color-secondary) !important;

	}
}

@media (max-width: 767px) {
	.footer-widget-container {
		.widget-content-wrapper {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease-out, margin-top 0.3s ease-out;
		}

		&.open {
			.widget-content-wrapper {
				margin-top: 12px;
			}

			.widget-arrow {
				transform: rotate(180deg);
			}
		}
	}
}

/*--- FOOTER MOBILE ---*/

/* Ukryj menu na telefonach */
@media (max-width: 768px) {
	.footer_widget {
		margin-bottom: 0px;
	}

	.footer__widget::first-child {
		margin-bottom: 48px !important;
	}

	.menu {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s;
	}

	.footer_widget.open .menu {
		max-height: 500px;
		/* Ustaw odpowiednią wartość */
	}

	.widget-title::after {
		content: url('/wp-content/uploads/2025/12/btn-arrow.svg');
		position: absolute;
		/*top: 50%;*/
		right: 10px;
		/* transform: translateY(-50%);*/
		transition: transform 0.3s;
		display: block !important;
		width: 12px;
	}

	.footer_widget.open .widget-title::after {
		content: url('/wp-content/uploads/2025/12/btn-arrow.svg');
		position: absolute;
		/*top: 50%;*/
		right: 10px;
		transform: scaleY(-1);
		transition: transform 0.3s;
		display: block !important;
		width: 12px;
		margin-top: -6px;
	}

	.__widget {
		width: 100%;
	}

	footer h2.widget-title {
		margin-bottom: 0px !important;
	}
}

[x-cloak] {
	display: none !important;
}

/*--- !RWD & !RESPONSIVE ---*/

/*---- !2XL --*/
@media only screen and (max-width: 1536px) {
	:root {}
}

/*---- !XL --*/
@media only screen and (max-width: 1280px) {
	:root {}
}

/*---- !LG --*/
@media only screen and (max-width: 1024px) {
	:root {
		--img-3xl: unset !important;
		--img-2xl: 420px;
		--img-xxl: 520px;
		--img-l: 320px;
	}

	.img-3xl {
		object-position: top;
		max-height: 520px;
	}

	:root {
		.area img {
			--img-xl: 100%;
		}
	}

	.fixed-top #menu-menu a {
		font-size: 14px;
	}

	.__menu-btn {
		font-size: 14px !important;
	}

	.order-flip {
		.order1:nth-child(1) {
			order: 1;
		}

		.order2:nth-child(2) {
			order: 2;
		}
	}

	h1,
	.text-h1 {
		font-size: 42px !important;
		line-height: 3rem;
	}
}

/*---- !MD --*/
@media only screen and (max-width: 768px) {
	:root {
		--img-xl: 424px;
	}

	.inline-buttons {
		display: grid;
		gap: 24px;
	}

	.inline-buttons .left-btn {
		margin-right: 0;
	}

	.inline-buttons a {
		width: 100% !important;
		text-align: center !important;
	}

	.single-post {

		.wysiwyg,
		.cta {
			width: 100%;
			margin: 0 auto;
		}
	}
}

/*---- !SM --*/
@media only screen and (max-width: 640px) {
	:root {
		--smt: 56px;
		--smb: 56px;
		--spb: 56px;
		--spt: 56px;
		--img-m: 240px;
		--img-l: 240px;
		--img-2xl: 320px;
		--btns-padding: 16px 24px;
	}

	h1,
	.text-h1 {
		font-size: 42px !important;
		line-height: 3rem;
	}

	h2,
	.text-h2 {
		font-size: 38px !important;
		line-height: 2.8rem;
		font-weight: 600;
	}

	h3,
	.text-h3 {
		font-size: 36px !important;
		line-height: 2.4rem;
	}

	h4,
	.text-h4 {
		font-size: 28px !important;
	}

	h5,
	.text-h5 {
		font-size: 22px !important;
		line-height: 2rem;
	}

	h6,
	.text-h6 {
		font-size: 20px !important;
	}
}

/*---- !XS --*/
@media only screen and (max-width: 430px) {
	:root {
		--img-xl: 320px;
	}
}