.b-contact {
	.blur {
		border-radius: 615px;
		mix-blend-mode: overlay;
		filter: blur(125px);
		width: 615px;
		height: 615px;
		right: -80px;
		top: -86px;
	}

	.second_blur {
		border-radius: 1389px;
		mix-blend-mode: overlay;
		filter: blur(125px);
		position: absolute;
		left: -677px;
		bottom: -801px;
		width: 1389px;
		height: 1389px;
	}

	   .right_shape {
        animation: floatShape 100s linear infinite;
        transform-origin: center center; 
        will-change: transform;
        display: flex;
        align-items: center;
        justify-content: center;
    }

	.__data {
		font-size: 16px;
	}

	.__data a {
		color: var(--text-s-light);
	}

	.__data a:hover {
		color: var(--text-s-lighter);
	}

	.__phone {
		display: flex;
	}

	.__phone::before {
		content: url("@images/phone.svg");
		margin-right: 6px;
		position: relative;
		top: 4px;
		max-width: 40px;
	}

	.__mail {
		display: flex;
	}

	.__mail::before {
		content: url('@images/mail.svg');
		margin-right: 6px;
		position: relative;
		top: 4px;
		max-width: 40px;
	}

	.__location {
		border-bottom: 1px solid var(--text-s-secondary);
	}

}

@keyframes floatShape {
    0% {
        transform: rotate(-25deg) scale(1.0);
    }
    25% {
        transform: rotate(65deg) scale(1.25);
    }
    50% {
        transform: rotate(155deg) scale(0.8);
    }
    75% {
        transform: rotate(245deg) scale(1.25);
    }
    100% {
        transform: rotate(335deg) scale(1.0);
    }
}