.b-content {
	.left_shape {
		width: 677px;
		height: 663px;
		transform: rotate(-15deg);
		left: -65px;
		top: -446px;
		@media (max-width: 748px) {
			top: -500px;
			left: -350px;
		}
		@media (max-width: 500px) {
			top: -500px;
		}
	}

	.right_shape {
		width: 667px;
		height: 663px;
		right: -480px;
		bottom: -366px;
		@media (max-width: 748px) {
			bottom: -450px;
			right: -520px;
		}
	}

	.__txt {
		p {
			margin-bottom: 16px;
		}

		p:last-child {
			margin-bottom: 0 !important;
		}

		ul {
			margin-top: 20px;
			margin-bottom: 24px;
			list-style: none;
			padding-left: 0;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				position: relative;
				margin-bottom: 0.5em;
				display: flex;
				gap: 10px;
				align-items: center;

				&::before {
					content: url('@images/vector.svg');
					position: relative;
					left: 0;
					top: -2px;
					width: 14px;
					height: 14px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}



/*--- BRAK PUNKTATORÓW ---*/

.b-content.no-list {
	.__txt {
		ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: disc;
			padding-left: 1.25rem;

			li {
				display: list-item;
				position: static;
				margin-bottom: 0.5em;

				&::before {
					content: none;
					display: none;
				}
			}
		}
	}
}