.b-header {
	.left_shape {
		width: 1000px;
		height: 1060px;
		left: -700px;
		top: 80px;

	}

	.right_shape {
		width: 1000px;
		height: 1060px;
		right: -700px;
		top: 80px;

	}

	.blur {
		width: 915px;
		height: 915px;
		left: 142px;
		bottom: -439px;
		border-radius: 915px;
		mix-blend-mode: overlay;
		filter: blur(125px);
	}
}