.b-hero {
	.left_shape {
		width: 1000px;
		height: 1060px;
		left: -700px;
		top: 80px;
		@media (max-width: 640px) {
			height: 700px;
			left: -750px;
		}
	}

	.right_shape {
		width: 1000px;
		height: 1060px;
		right: -700px;
		top: 80px;
			@media (max-width: 640px) {
			height: 700px;
			right: -800px;
		}
	}

	.hero-main-title {
		font-size: clamp(30px, 3.5vh + 1.5vw, 50px) !important;
		line-height: 1.15;
		color: #ffffff;

		.text-carousel-container {
			display: inline-flex;
			vertical-align: baseline;
			height: 1.15em;
			align-items: flex-start;
			overflow: hidden;
			padding: 0 0.15em;

			@media (max-width: 658px) {
				padding: 0;
			}

			.text-carousel-slider {
				display: flex;
				flex-direction: column;
				transition: transform 0.7s cubic-bezier(0.76, 0, 0.24, 1);
				font-weight: 600 !important;
				will-change: transform;
			}

			.text-carousel-item {
    display: flex;
    align-items: center;
    height: 1.15em;
    line-height: 1.15;
    white-space: nowrap;

    background: linear-gradient(90deg, #00579B 5%, #E65796 93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 600 !important;
			}
		}
	}
}

.text-h3 {
	p {
		font-size: clamp(30px, 2.8vw, 48px) !important;
		line-height: 1.25;
	}
}