.b-logos {
  .__logos {
    overflow: hidden;

    .__wrapper {
      display: flex;
      width: max-content;
      align-items: center;
      gap: 60px;

      cursor: grab;
      user-select: none;
      will-change: transform;

      &.dragging {
        cursor: grabbing;
      }

      @media (max-width: 640px) {
        gap: 30px;
      }
    }

    .__slide {
      flex-shrink: 0;
    }
  }
}