.b-reviews {
	.blur {
		border-radius: 915px;
		mix-blend-mode: overlay;
		filter: blur(125px);
		width: 915px;
		height: 915px;
		position: absolute;
		left: 142px;
		top: -618px;
	}

	.second_blur {
		border-radius: 1429px;
		mix-blend-mode: overlay;
		filter: blur(125px);
		position: absolute;
		right: 0;
		bottom: -860px;
		width: 1429px;
		height: 1429px;
	}

	.right_shape {
		width: 986px;
		height: 966px;
		transform: rotate(15deg);
		right: -200px;
		top: -640px;
		mix-blend-mode: overlay;
	}
	@media(max-width: 992px) {
		.right_shape {
			right: -600px!important;
	}
	}


	.__arrows {
		width: max-content;
		right: 0;
		top: -80px;
		z-index: 30;
	}

	.swiper-slide {
		.review-content-wrapper {
			img {
				transition: padding 0.6s cubic-bezier(0.25, 1, 0.5, 1);
				padding-left: 24px;
				padding-right: 0;
			}
		}

		&.swiper-slide-active {
			.review-content-wrapper {
				img {
					padding-left: 30px;
					padding-right: 0;
				}
			}
		}

		&.swiper-slide-next {
			.review-content-wrapper {
				img {
					margin-left: -50px;
					padding-right: 0px;
				}
			}
		}

	}
}

