.b-reviews {
<<<<<<< Updated upstream
	.blur {
		border-radius: 915px;
		mix-blend-mode: overlay;
		filter: blur(125px);
		width: 915px;
		height: 915px;
		position: absolute;
		left: 142px;
		top: -618px;
	}

=======
	.review-content-wrapper {
		position: relative;
	}

	.review-quote-icon {
		display: block;
		width: 72px;
		height: auto;
		mix-blend-mode: overlay;
		opacity: 0.72;
	}

	.blur {
		border-radius: 915px;
		mix-blend-mode: overlay;
		filter: blur(125px);
		width: 915px;
		height: 915px;
		position: absolute;
		left: 142px;
		top: -618px;
	}

>>>>>>> Stashed changes
	.second_blur {
		border-radius: 1429px;
		mix-blend-mode: overlay;
		filter: blur(125px);
		position: absolute;
		right: 0;
		bottom: -860px;
		width: 1429px;
		height: 1429px;
	}

	.right_shape {
		width: 986px;
		height: 966px;
		transform: rotate(15deg);
		right: -200px;
		top: -640px;
		mix-blend-mode: overlay;
	}
<<<<<<< Updated upstream
	@media(max-width: 992px) {
		.right_shape {
			right: -600px!important;
	}
	}
=======

>>>>>>> Stashed changes


	.__arrows {
		width: max-content;
		right: 0;
		top: -80px;
		z-index: 30;
	}
}

