.b-slider {
		.slider-standard {
			padding-left: 40px !important;
			padding-right: 40px !important;
		}
	.left_shape {
		width: 1000px;
		left: -700px;
		top: -280px;
	}

	.right_shape {
		width: 1000px;
		right: -700px;
		bottom: -450px;
		mix-blend-mode: overlay;
	}

	.slider-standard .swiper-slide {
		opacity: 0;
		transition: opacity 0.4s ease-in-out;
	}

	.slider-standard .swiper-slide-active {
		opacity: 1;
	}
}

@media (max-width: 992px) {
	.b-slider {
		.left_shape {
			width: 700px;
			left: -490px;
			top: -180px;
		}

		.right_shape {
			width: 700px;
			right: -450px;
			bottom: -450px;
			mix-blend-mode: overlay;
		}

		.slider-standard {
			padding-left: 96px !important;
			padding-right: 96px !important;
		}
	}
}

@media (max-width: 640px) {
	.b-slider {
		.left_shape {
			width: 500px;
			left: -350px;
			top: -150px;
		}

		.right_shape {
			width: 500px;
			right: -300px;
			bottom: -350px;
			mix-blend-mode: overlay;
		}
		.slider-standard {
			padding-left: 50px !important;
			padding-right: 50px !important;
		}
	}
}