.b-top {
	.left_shape {
		width: 1000px;
		height: 1060px;
		left: -700px;
		top: 80px;

		@media (max-width: 1536px) {
			width: 800px;
			height: 850px;
			left: -580px;
		}

		@media (max-width: 748px) {
			left: -650px;
		}

		@media (max-width: 475px) {
			left: -700px;
		}
	}
	.right_shape {
		width: 1000px;
		height: 1060px;
		right: -700px;
		top: 80px;

		@media (max-width: 1536px) {
			width: 800px;
			height: 850px;
			right: -600px;
		}
		@media (max-width: 748px) {
			right: -650px;
		}

		@media (max-width: 475px) {
			right: -700px;
		}
	}

	.__txt {
		p {
			margin-bottom: 16px;
		}

		p:last-child {
			margin-bottom: 0 !important;
		}

		ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: none;
			padding-left: 0;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				position: relative;
				margin-bottom: 0.5em;
				display: flex;
				gap: 8px;
				align-items: center;

				&::before {
					top: url('@images/pointer.svg');
					position: relative;
					left: 0;
					top: -6px;
					width: 14px;
					height: 14px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}



/*--- BRAK PUNKTATORÓW ---*/

.b-top.no-list {
	.__txt {
		ul {
			margin-top: 8px;
			margin-bottom: 24px;
			list-style: disc;
			padding-left: 1.25rem;

			li {
				display: list-item;
				position: static;
				margin-bottom: 0.5em;

				&::before {
					top: none;
					display: none;
				}
			}
		}
	}
}